* {
	margin: 0;
	padding: 0;
}

body {
	background-color: pink;
}

.boardRow {
	display: flex;
	align-items: center;
	float: right;
	clear: right;
}

.square {
	border: 1px solid black;
	height: 50px;
	width: 50px;
}

.one {
	background-color: black;

}

.two {
	background-color: white;
}


